{% extends "theme.html" %} {% block bodyContent %}
<h1>Edit Password Page</h1>
<form
  class="edit-password"
  method="post"
  action="/edit-password/{{ formData['_id'] }}"
>
  <div>
    <label for="password">password</label>
    <input
      type="password"
      value=""
      id="password"
      name="password"
      placeholder="Enter new password"
    />
  </div>
  <div>
    <label for="cPassword">cPassword</label>
    <input
      type="password"
      value=""
      id="cPassword"
      name="cPassword"
      placeholder="confirm new password"
    />
  </div>
  <button type="submit">Save</button>
</form>
{%endblock%}
